body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid black;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border: 2px solid black;
    margin: 5px;
}
.vertikal-text{
    text-orientation: upright;
    writing-mode: vertical-lr;
    text-align: center;
    border: 2px solid black;
    padding: 5%;
    margin: 2px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex-grow: 1;
    border: 2px solid black;
    margin: 2px;
}
.item{
    border: 2px solid black;
    text-align: center;
    margin: 2px;
    padding-top: 4px;
    font-size: 3rem;
    flex-grow: 1;
}
.headline{
    text-align: center;
    font-size: 3rem;
    border: 2px solid black;
    margin: 2px;
}