*{
   font-family: Helvetica, Arial, sans-serif; 
}

/*
1.) Erstellen Sie eine klasse für Ihren Flex-Container, der alle ihre einzelnen Elemente enthalten soll
2.) Erstellen Sie eine klasse für Ihre Flex-Elemente, die in Ihrem Container angeordnet werden sollen.
3.) Definieren Sie die größe Ihrer Flexelemente
4.) Verschachteln Sie die Elemente weiter, sodass sie selbst ein Kapselelement für andere Elemente seien können.
5.) Versuchen Sie mal ein gebilde nach Folgender Strucktur nach zu bauen:
###################################################################### 
#                            Überschrift                             # 
###################################################################### 
#      ############################################################### 
#  N   ##                                                           ## 
#  A   ##                        TEXTFELD                           ## 
#  V   ##                                                           ## 
#  I   ############################################################### 
#  G   ##                                                           ## 
#  A   ##                        TEXTFELD                           ## 
#  T   ##                                                           ## 
#  I   ############################################################### 
#  O   ##                                                           ## 
#  N   ##                        TEXTFELD                           ## 
#  S   ##                                                           ## 
#  B   ############################################################### 
#  A   ##                                                           ## 
#  R   ##                        TEXTFELD                           ## 
#      ##                                                           ## 
###################################################################### 

6.) Eine weitere Variante:
###################################################################### 
#                         NAVIGATIONSBAR                             # 
###################################################################### 
######################################################################
##                                     ##                           ##
##            TEXTFELD                 ##           TEXTFELD        ##
##                                     ##                           ##
######################################################################
##                                            ##                    ##
##                        TEXTFELD            ##      TETFELD       ##
##                                            ##                    ##
######################################################################
##                ##                ##                ##            ##
##    TEXTFELD    ##    TEXTFELD    ##    TEXTFELD    ##  TEXTFELD  ##
##                ##                ##                ##            ##
######################################################################
##                                             #                     #
##                        TEXTFELD             #                     #
##                                             #                     #
######################################################################

7.) UND NOCH EINE weitere Variante: (Hinweis: sehen Sie sich mal die Griditems an)

###################################################################### 
#                            Überschrift                             # 
###################################################################### 
#      ############################################################### 
#  N   ##             ##              ##             ##             ##
#  A   ##             ##      BOX     ##     BOX     ##     BOX     ##
#  V   ##       B     ##              ##             ##             ##
#  I   ##       O     ################################################ 
#  G   ##       X     ##              ##             ##             ## 
#  A   ##             ##      BOX     ##     BOX     ##     BOX     ## 
#  T   ##             ##              ##             ##             ## 
#  I   ############################################################### 
#  O   ##             ##              ##             ##             ## 
#  N   ##     BOX     ##     BOX      ##     BOX     ##     BOX     ## 
#  S   ##             ##              ##             ##             ## 
#  B   ############################################################### 
#  A   ##             ##              ##                            ## 
#  R   ##     BOX     ##     BOX      ##            BOX             ## 
#      ##             ##              ##                            ## 
######################################################################
*/