            *{
                 /*übergeordnetes element das für alle gilt*/
                font-family: Arial, Helvetica, sans-serif;
                /*Margin, abstand zu anderen elementen*/
                /*Margin zweier elemente können sich überlagern*/

                /*Padding, abstand des inhaltes zum rand*/
                /*Padding überlagert nicht*/
                border: 2px dotted grey;
            }
            h1{
                font-size: 1.5rem;
                color:hsla(106, 34%, 50%, 0.519);
            }
            h1,h2{
                color: red;
            }
            /*spätere überschreiben frühere Angaben*/
            h1{
                color: blue;
            }

            body{
                background: radial-gradient(grey,white);
            }
            .content{
                display: inline;
                width: 300px;
                min-height: 500px;
                background-color: red;
            }
            #blaubg{
                background-color: blue;
            }
            .subtitle{
                text-decoration: underline;
                color:blue;
                background-color: white;
            }

	
            p {
                font-weight: 300;
                font-style: italic;
                text-transform: uppercase;
                text-align: center;
                font-family: 'Comic-Sans', sans-serif;
                color:#f76560;
                font-size: 0.8rem;
                
            }
            p:nth-of-type(2n+1){
                color:#005500;
            }
            .blauer-text{
                color: blue;
                text-transform: none;
            }
            /*über id, sehr selten*/
            #roter-text{
                color: rebeccapurple;
                text-transform: lowercase;
            }
            a:hover{
                color: red;
                font-size: 1.1rem;
            }
            a:visited{
                color: #005500;
            }
		/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
            .flex-container{
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                justify-content: space-around;
                /*abstand zwischen elementen*/
                border: 2px solid #000;
                background-color: antiquewhite;
            }
            .flex-item{
                background-color:#0d0;
                margin: 5px;
                padding: 5px;
                border-radius: 5px;
            }

